body {
    margin: 0;
    background-color: #DDDDDD;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #125D98;
    margin-top: 1em;
}
span {
    font-style: oblique;
    color: #F5A962;
}

.potato {
    width: 5em;
    margin: 1.4em 0;
}

.container {
    margin-top: 5em;
    height: 200px;
    width: 200px;
    display: flex;
}

#circle {
    margin-top: 5em;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #3C8DAD;
    border-inline: 2px solid #52abce;
}

