body{
    max-width: 900px;
    
    margin-left: auto;
    margin-right: auto;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

#headSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#images{
    display: flex;

}

img{
    width: 150px;
    margin: 0 20px;
}
